@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;

}

.root-container {
    height: 90vh;
}

.navbar-bg {
    background-color: black;
}

.login-container {
    color: #4c5773;
    width: 420px;
    height: auto;
    margin-top: 32px;
    background-color: white;
    border: 1px solid rgb(237, 242, 245);
    border-radius: 6px;
    box-shadow: rgb(0 0 0 / 8%) 0px 7px 20px;
    line-height: 24px;
}

.login-container input, label {
    margin-bottom: 1.5rem;
}

